* {
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  background-color: #ffffff;
  opacity: 0.8;
  background: linear-gradient(135deg, #d0125755 25%, transparent 25%) -22px 0/ 44px 44px, linear-gradient(225deg, #d01257 25%, transparent 25%) -22px 0/ 44px 44px, linear-gradient(315deg, #d0125755 25%, transparent 25%) 0px 0/ 44px 44px, linear-gradient(45deg, #d01257 25%, #ffffff 25%) 0px 0/ 44px 44px;
}

@font-face {
  font-family: "CustomFont";
  src: url("../css/fonts/RolexLight.woff2");
}

.cover {
  background: white;
  width: fit-content;
  height: fit-content;
  border-radius: 1em;
  box-shadow: 0 0.188em 1.55em rgb(156, 156, 156);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
  padding: 1em;
  text-align: center;
  justify-content: space-around;
}

.login-btn {
  width: 12.5em;
  height: 2.5em;
  background-color: rgb(243, 188, 197);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 0.25em;
  cursor: pointer;
}

.login-btn:hover {
  transform: scale(1.25);
}

.btn1 {
  background-color: rgb(243, 188, 197);
  transition: 0.5s;
  cursor: pointer;
  font-family: "CustomFont";
  border: none;
  border-radius: 0.25em;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}
