input {
  border: none;
  background-color: rgb(229, 226, 226);
  width: 75%;
  border-radius: 0.5em;
  text-align: center;
  padding: 1em;
}

input:focus {
  outline-color: rgb(243, 188, 197);
}

.hide {
  position: absolute;
  transform: scale(0);
}
