nav {
  background: rgb(243, 188, 197);
  height: 80px;
  width: 100%;
}

label.pagStudent {
  color: white;
  font-size: 30px;
  line-height: 80px;
  margin: 0 5px;
  font-weight: bold;
  font-family: "CustomFont";
  margin-left: 1em;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
}

nav ul li a {
  color: white;
  padding: 0 15px;
  border-radius: 0.25em;
  cursor: pointer;
}

a.active,
a:hover {
  background: #d01257;
  transition: 0.5s;
}

.reactions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.coverStudent,
.coverFeedback {
  background-color: white;
  width: fit-content;
  height: fit-content;
  border-radius: 1em;
  box-shadow: 0 0.188em 1.55em rgb(156, 156, 156);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
  padding: 1em;
  text-align: center;
}

.coverFeedback {
  width: 30em;
  height: 30em;
}

.coverReaction {
  background-color: white;
  width: 10em;
  height: 10em;
  border-radius: 1em;
  box-shadow: 0 0.188em 1.55em rgb(156, 156, 156);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 1em;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}

.feedback-btn {
  background-color: rgb(243, 188, 197);
  display: flex;
  justify-content: center;
  transition: 0.5s;
  border-radius: 0.25em;
  cursor: pointer;
  margin-left: 25%;
  margin-right: 25%;
}

.feedback-btn:hover {
  transform: scale(1.25);
}

.mesaj {
  display: flex;
  margin: auto;
  text-align: center;
  overflow: auto;
  justify-content: center;
}
